html {
  background-color: #181a1b;
  color: #e8e6e3;
  font-size: 1.4rem;
  color-scheme: dark;
}
header {
  margin-left: 1rem;
  margin-top: 0.5rem;
}
main {
  margin-left: 26vw;
  margin-right: 26vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
footer {
  margin-left: 20vw;
  margin-right: 20vw;
  border-color: #fff1f1;
  margin-top: 7.5rem;
  margin-bottom: 5rem;
  border-width: 1px;
  border-style: dashed;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
a {
  color: #3391ff;
  text-decoration: none;
}
hr {
  width: 5%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1080px) {
  main {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
